body {
    padding: 0;
    margin: 100px;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-size: 2rem;
}

.parent {
    padding: 60px;
    width: 800px;
    height: 400px;
    background-color: rgb(245, 194, 240);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.child1,.child3 {
    height: 20%;
    display: flex;
    justify-content: space-between;
}
.child1 .topl {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child1 .topl .topl_l {
    width: 60px;
    height: 60px;
    background-color: blueviolet;
}
.child1 .topl .topl_r {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin-left: 30px;
}

.child1 .topl .topl_r .top {
    width: 70px;
    height: 60px;
    background-color: rgb(168, 91, 232);
}

.child1 .topr {
    align-self: center;
    width: 70px;
    height: 60px;
    background-color: blueviolet;
}

.box {
    border: 1px solid red;
    width: 100%;
}
.child2 {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.child2 .circle-box {
    border: 1px solid green;
    display: flex;
    /* position: relative; */
}
.child2 .circle-box .circle1{
    /* position: absolute; */
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
    /* left: 100px; */
}
.child2 .circle-box .circle2{
    /* position: absolute; */
    width: 150px;
    height: 150px;
    background-color: green;
    margin-left: -60px;
    border-radius: 50%;
}
.child2 .circle-box .circle3{
    /* position: absolute; */
    width: 150px;
    height: 150px;
    background-color: blue;
    margin-left: -60px;
    border-radius: 50%;
    /* right: 100px; */
}

.child3 .botl {
    width: 35px;
    height: 35px;
    background-color: blueviolet;
    align-self: end;
    border-radius: 50%;
}
.child3 .botr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child3 .botr .item{
    background-color: blueviolet;
    width: 100px;
    height: 20px;
}
